// Side nav

// Don't show it on mobile
.side-nav {
  display: none;
}

@include media($med) {
  .side-nav {
    display: block;
  }

  .side-nav__item {
    padding: 1rem 0;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .side-nav__link {
    @include transition(background-color .2s);
    border-bottom: none;
    display: block;
    font-family: $sans-serif;
    padding: 4px;
    text-transform: uppercase;

    &:hover,
    &.is-active {
      @include transition(background-color .2s);
      background-color: $beige;
    }

    &.is-active {
      font-weight: bold;
    }
  }

}
